<div class="row">
  <div class="col-md-12">
    <h1 style="text-align: center;">About</h1>
    <p class="paragraph">
      Web developer graduate from codeX with a huge passion for Web Design.
      I like making websites using the most powerful and very popular frameworks.
      I have grown to learn that I like Front-End Development more than I like
      general programming. Some of the frameworks I am trying out and am enjoying
      is Django. I am about mordenism. I develop for contemporary sophistication.
    </p>
  </div>
</div>
