<div class="row">
  <h1 style="text-align:center; font-size:28px;"><span class="heading">Graphic Design</span></h1>
  <div class="col-md-12">
    <div class="col-sm-3">
      <a href="#" class="thumbnail">
        <img src="/img/graphic-design/sk-blue-png.png" alt="Sk">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#" class="thumbnail">
          <img src="/img/graphic-design/radlee1.png" alt="Sk">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#" class="thumbnail">
          <img src="/img/graphic-design/S.png" alt="Sk">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#" class="thumbnail">
          <img src="/img/graphic-design/sideNav1.png" alt="Sk">
      </a>
    </div>
  </div>
  <!-- Second Row -->
  <div class="row">
  <div class="col-md-12">
    <div class="col-sm-9">
      <a href="#" class="thumbnail">
        <img src="/img/graphic-design/podcast-central.png" alt="Sk">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#" class="thumbnail">
          <img src="/img/graphic-design/S.png" alt="Sk">
      </a>
    </div>
  </div>
  </div>
  <!-- Third Row -->
  <div class="row">
  <div class="col-md-12">
    <div class="col-sm-3">
      <a href="#" class="thumbnail">
        <img src="/img/graphic-design/radlee1.png" alt="Sk">
      </a>
    </div>
    <div class="col-sm-9">
      <a href="#" class="thumbnail">
          <img src="/img/graphic-design/video-feed.png" alt="Sk">
      </a>
    </div>
  </div>
  </div>
  <!-- Fourth Row -->
  <div class="row">
  <div class="col-md-12">
    <div class="col-sm-9">
      <a href="#" class="thumbnail">
        <img src="/img/graphic-design/motion-graphics.png" alt="Sk">
      </a>
    </div>
    <div class="col-sm-3">
      <a href="#" class="thumbnail">
          <img src="/img/graphic-design/S.png" alt="Sk">
      </a>
    </div>
  </div>
  </div>
</div>
