{{#if messages.info}}
<div class="message">
    {{messages.info}}
</div>
{{/if}}

<style media="screen">
  .audio-player-cont{
    background: #f3ebdc;
    box-shadow: 0 0 6px 2px #c7a8a8;
    color: #003ba9;
    font-family: verdana;
    font-size: 12px;
  }
  .logo{
    float: left;
  }
  .player{
    float:right;
    margin: 7px;
  }
  .song-title{
    width: 300px;
    padding: 5px 0px 5px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .song-slider{
    width: 300px;
  }

  .current-time{
    float: left;
    font-size: 10px;
  }
  .duration{
    float: right;
    font-size: 10px;
  }
  .controllers{
    clear: both;
    display: table;
  }
  .controllers *{
    vertical-align: middle;
    margin-right: 2px;
  }
  .volume-slider{
    width: 90px;
    margin-left: 5px;
  }
</style>

<h1 style="font-size:28px;"><span class="heading">Music Central</span></h1>
<div class="row">
  <div class="col-sm-6">
    <h4><span class="heading">Play List</span></h4>

  </div>
  <div class="col-sm-6">
    <h4><span class="heading">Music Player</span></h4>

    <div class="audio-player-cont">
      <div class="player">
        <div id="songTitle" class="song-title">My Song title goes here</div>
        <input id="songSlider" class="song-slider" type="range" min="0" step="1" onchange="seekSong()" />
        <div id="currentTime" class="current-time">00:00</div>
        <div id="duration" class="duration">00:00</div>
        <div class="controllers">
          <img src="/img/audio-img/light_blue/prev.png" alt="" width="30px" onclick="previous();" />
          <img src="/img/audio-img/light_blue/prev.png" alt="" width="30px" onclick="backward();" />
          <img src="/img/audio-img/light_blue/play.png" alt="" width="40px" onclick="playOrPauseSong();" />
          <img src="/img/audio-img/light_blue/next.png" alt="" width="30px" onclick="forward();" />
          <img src="/img/audio-img/light_blue/next.png" alt="" width="30px" onclick="next();" />
          <img src="/img/audio-img/light_blue/knob.png" alt="" width="15px"; />
          <input id="volumeSlider" class="volume-slider" type="range" name="name" min="0" max="1" step="0.01" onchange="adjustVolume();">
          <img src="/img/audio-img/light_blue/knob.png" alt="" width="15px"; />
        </div>
      </div>
    </div>

  </div>
</div>
