
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.row{
  margin: auto !important;
}

.col-md-6 {
width: 100% !important;
}

body {
  font-weight: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  background: url(../img/bg201.png)
}
.clearfix{
  clear: both;
}

#container{
  width: 360px;
  color: white;
  min-height: 400px;
  /*Blue Gradient*/
  /*background-image: linear-gradient(to bottom, #00B188 0%, #021D50 100%);*/
  /*Pink/ Red Gradient*/
  background-image: linear-gradient(to bottom, #F92850 0%, #6D0515 100%);
  overflow: auto;
  margin: 60px auto;
  border: #fff solid 3px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#audio-img{
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-bottom: 15px;
}
.cover{
  width: 100%;
  z-index: 1;
}

#audio-info{
  text-align: center;
  padding: 10px;
  line-height: 1.5;
  font-family: arial;
  font-size: 18px;
}
#audio-info .artist{
  font-weight: bold;
}


input#volume{
  width: 95%;
  -webkit-appearance: none !important;
  margin-left: 2%;
  background: rgba(48, 41, 32, 0.08);
  height: 12px;
  margin-bottom: 20px;
}

input#volume::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  background: url(../img/controllers_101/knob.png) no-repeat;
  height: 12px;
  width: 12px;
}

#audio-buttons{
  width: 90%;
  display: block;
  margin: 15px auto;
  margin-left: 23px;
  overflow: auto;
}

button#play{
  width: 70px;
  height: 70px;
  background: url(../img/controllers_101/play.png) no-repeat;
  float: left;
}
button#pause{
  width: 70px;
  height: 70px;
  background: url(../img/controllers_101/pause_yellow.png) no-repeat;
  float: left;
}
button#stop{
  width: 70px;
  height: 70px;
  background: url(../img/controllers_101/stop.png) no-repeat;
  float: left;
}
button#prev{
  width: 70px;
  height: 70px;
  background: url(../img/controllers_101/prev.png) no-repeat;
  float: left;
}
button#next{
  width: 70px;
  height: 70px;
  background: url(../img/controllers_101/next.png) no-repeat;
  float: left;
}

#playlist{
  list-style: none;
  padding-top: 10px;
  line-height: 1.5;
  font-family: arial;
  font-size: 18px;
  padding-bottom: 10px;
}

#playlist li{
  cursor: pointer;
  margin: 5px;
}
#playlist li.active{
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(7, 101, 165, 0.1);
}

#progressbar{
  width: 80%;
  margin-left: 2%;
  margin-right: 14px;
  margin-bottom: 20px;
  margin-top: 9px;
  height: 10px;
  background: url(../img/controllers_101/progress_bar.png) no-repeat;
  float: left;
}

#progress{
  background: url(../img/controllers_101/progress.png) no-repeat;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 8px;
}

#duration{
  position: absolute;
  top: 0;
  right: 10px;
  padding: 4px 8px;
  background: rgba(41, 41, 41, 0.22);
}

#tracker{
  position: relative;
  width: 100%
}
