@import url('https://fonts.googleapis.com/css?family=raleway');
.nav-container .navbar-brand {
  height: 70px;
}

.subtags{
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background: rgb(243, 243, 243);
}
.subtagHeadings{
  color: rgb(95, 95, 136);
  /*font-size: 10px;*/
}
.paragraph{
  margin: 0 0 10px;
  color: rgb(99, 99, 99);
  font-size: 20px;
  line-height: 1.5;
  text-align: center
}
#blogparagraph{
  margin: 0 0 10px;
  color: rgb(99, 99, 99);
  font-size: 20px;
  line-height: 1.5;
}

/*DropDown BG color*/
.nav-pills>li>a {
  border-radius: 4px;
  background-color: red;
  background-color: rgb(172, 224, 255);
}
input{
  text-align: center;
}

.form-group{
  text-align: center;
}

/*Theme image*/
.jumbotron {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 8px;
  font-weight: lighter;
  text-align: center;
  background-color: #01004D !important;
  /*background-image: url("../img/AWD.png");*/
  background-size: cover;
}
/*Center everything. For mobile view*/
.col-md-4{
  text-align: center;
}
/*Space after the button*/
.form-area{
  padding-bottom: 20px;
}
/*Company Logo at the Bottom of the div*/
.company-logo {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  position: relative;
  width: 300px;
  text-align: center;
  float: right;
}

#warning{
  text-align: center;
  color: red;
}
#success{
  text-align: center;
  color: green;
}
.form-box{
  text-align: center;
}

/*Force Change boder color and background color on the navbar both to white*/
.navbar-default {
background-color: white !important;
border-color: white !important;
}

/*Active tab color Change*/
.active a {
  background-color: white !important;
}
footer{
  padding: 30px;
}

.company-logo{
  float: right;
}
#dropdown-col{
  float: left;
}
/*--Style CheckBoxes--*/
/*-----------------------*/
/*From DevTips Tut*/
label{
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

/*Target the inputs of type checkbox*/
/*Using Pre-Advanced Selectors'*/
input[type="checkbox"]{
  display: none;
}
.label-text:before{
  content: "\f096";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}
/*Change icon and color when checked*/
:checked + .label-text:before{
  content: "\f14a";
  color: #0683e9;
}
.form-control{
  color: #dc1032;
  border-radius: 0px;
  border: 1px solid #01004D;

}

/*Center Menu links in dropdown menu on modile view*/
.nav>li>a {
  margin-top: 16px;
  text-align: center;
}
.nav>li>a:hover{
  color: white !important;
  background-color: #01004D !important;
}

.heading{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  line-height: 2;
  background-color: #01004D;
}

/*Buttons*/

.btn-default {
  color: #FEFEFE;
  background-color: #00B4C6;
  border-color: #00B4C6;
  border-radius: 0px;
}
.btn-default:hover {
  color: #01004D;
  border-color: #01004D;
  background-color: white !important;
  border-radius: 0px;
}


#cancel{
  background: #dc1032;
  border-color: #dc1032;
}

#signin, #submit{
  border-radius: 0px;
  background: #01004D;
  border-color: #01004D;
}
